   /* Estilizando o login */

   form {
        width: 25%;
        height: 80%;
        margin-top: 7%;

    }


    input[type=text], input[type=password] {
        width: 95%;
        margin: 8px 0;
        padding: 12px 20px;
        display: inline-block;
        --bs-btn-border-radius: 0.375rem;
        --bs-btn-hover-border-color: transparent;
        --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
        --bs-btn-disabled-opacity: 0.65;
        --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
        border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
        border-radius: var(--bs-btn-border-radius);

    }



   button:hover {
        opacity: 0.7;
    }


   .cancelbtn {
        width: auto;
        padding: 10px 18px;
        margin: 10px 5px;
    }



    .container {
        width: 900px;
        height: 400px;
        padding: 35px;
        background-image:linear-gradient(to right, #ffb884, #f5df98, #2e4347 );
        border-radius: 10%;
        box-shadow: 10px 5px 5px black;
    }
    a:link{
        color: #2e4347;
        size: 2;
    }

    body div button{
        width: 320px;

        }
    #btnlogin{
        margin-top: 2px;
        margin: 7px;
    }

    /* Estilizando o esqueci senha */


    .senha {
        padding: 25px;
        background-image:linear-gradient(to right, #ffb884, #f5df98, #2e4347 );
        border-radius: 10%;
        box-shadow: 10px 5px 5px black;
    }
    #btncadastro{
        margin-top: 2px;
        margin: 8px;
        width: 95%;
    }


     /* Estilizando o cadastro */

     #cadastrar{
        margin-top: 2px;
        margin: 8px;
        width: 95%;
    }

    /* Estilizando o home */
     #espaco {
        width: 30;
        }
     body {
        background-image: linear-gradient(to right,#2e4347,#ffb884 );
       }
